P1/misionSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.piat.upm.es/mision"
    xmlns:tns="http://www.piat.upm.es/mision"
    xmlns:ids="http://www.piat.upm.es/identificacionSchema" 
    elementFormDefault="qualified">

    <xsd:import namespace="http://www.practica1.upm.es/identificacionSchema" schemaLocation="./identificacionSchema.xsd"/>
    <xsd:import namespace="http://www.practica1.upm.es/dronSchema" schemaLocation="./dronSchema.xsd"/>

    <xsd:element name="misionSchema">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="identificacion" type="tns:tidentificacion" minOccurs="1" maxOccurs="1"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="tidentificacion">
        <xsd:sequence>
            <xsd:element></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>